<div class="content" ng-controller="AppCtrl">
  <h1>Clients</h1>
  Search: <input type="text" ng-model="search" placeholder="Search for a Client" />
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="list in lists | orderBy: order | filter: search">
        <td ng-click="showdata(list._id)">{{list.name}}</td>
        <td ng-click="showdata(list._id)">{{list.address}}</td>
      </tr>
    </tbody>
  </table>

</div>
